.loader {
  z-index: 1;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  margin: auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #1DB954;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

#inner-loader {
  z-index: 1;
  margin: auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #363163;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
  display: none;
}

#generate-playlist-loader {
  z-index: 1;
  margin: none;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #fdba28;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}